@import "../libs/bootstrap/scss/my-variables"
@import "../libs/bootstrap/scss/bootstrap"
@import "_mixins/mixins"
@import "../css/icon-font.min.css"
@import "vars"
@import "fonts"

html, body
	height: 100%

	body
		font-size: 16px
		min-width: 320px
		position: relative
		line-height: 1.65
		font-family: $default-font
		overflow-x: hidden
		input, textarea
			outline: none
			&:focus:required:invalid
				border-color: red
				&:required:valid
					border-color: green

.clearfix
	display: block
	clear: both
	content: ""
.badge
	margin-left: 9px
	padding: 5px 8px

.navbar
	+border(1px,rgba(0,0,0,.15),bottom)
.dropdown-menu
	margin-top: 15px
	&::before
		content: ''
		display: block
		position: absolute
		width: 4px
		height: 4px
		+css-triangle(#fff, up)
		top: -6px
		left: 93px
		z-index: 1
	&::after
		content: ''
		display: block
		position: absolute
		width: 5px
		height: 5px		
		+css-triangle(rgba(0,0,0,.15), up)
		top: -7px
		left: 93px
.drop-menu-right
	margin-top: 17px
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus
	box-shadow: none
.btn-primary.focus, .btn-primary:focus
	box-shadow: none
.nav-search
	flex: 1
	position: relative
	button
		position: absolute
		right: 8px
		border-radius: .25rem
	input 
		outline: none
		&:focus
			box-shadow: none
			&::-webkit-input-placeholder
				color: transparent
			&:-moz-placeholder 
				color: transparent
			&::-moz-placeholder 
				color: transparent
			&:-ms-input-placeholder 
				color: transparent
section
	height: 1600px
.first-sect
	padding-top: 80px

@import "media" // Always at the end
